{{#if isLogin}}
    <div class="{{#if isLogin}}cmsLoginFooterWrapper{{else}}cmsFooterWrapper{{/if}} defaultInsetShadow">
        <p>Copyright &copy <a class="noUnderline" target="_blank" href="https://cameronmcgehee.com">McGehee Enterprises</a> {{> currentYear}} - <b>v{{> version}}</b></p>
    </div>
{{/if}}