<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{{ title }}} - Ultiscape (Admin)</title>
    <meta name="description" content="{{{description}}}">
    <link rel="stylesheet" type="text/css" href="{{{rootPath}}}css/app/main.css">
    <script type="text/javascript" src="{{{rootPath}}}js/jquery-3.6.0.min.js"></script>

    {{> adminUIScripts}}
</head>

{{> adminTopBar}}

</html>