{{!-- 

    Variables:
        int numPages
        int currentPage
        string path
        string gatVarName
        string renderId

 --}}

<div id="{{renderId}}" class="pageNavigator">
    {{#ifEq currentPage 1}}

    {{/ifEq}}
</div>