*, *::before, *::after {
	/* font-family: 'Source Sans Pro', sans-serif; */
	margin: 0;
	padding: 0;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
}